language: cpp

compiler:
    - g++

before_install:

    # save project dir in environment variable
    - PROJECT_DIR=$(pwd)

    # add toolchain repository (for g++ update)
    - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
    - sudo apt-get update -qq

install:
    #install cmake
    - sudo apt-get install cmake

    #install doctest
    - sudo apt-get install doctest-dev

    # check g++ version
    - $CXX --version
    - g++ --version

before_script:
    #change to root
    - cd $PROJECT_DIR

script:
    - cmake . -Bbuild
    - cd build
    - make -j
    - ctest
